:root {
  /*Colors*/
  --text-color: #333;
  --color-primary: #A2CC44;
  --color-primary2: #0C9F4E;
  --color-dark-green: #0C8B45;;
  --color-primary--hover: #ccc;
  --color-primary--active: #ccc;

  /*Animate*/
  --cubic-1: cubic-bezier(0.54, -0.81, 0.57, 0.57);

}

/*Custom selectors*/
@custom-selector :--hover :hover, :active;

  /*Custom breakpoints*/
@custom-media --s (width >= 576px);
@custom-media --m (width >= 768px);
@custom-media --l (width >= 992px);
@custom-media --el (width >= 1200px);

