.product {
	margin: 50px auto;
	max-width: 348px;
	width: 100%;
	background: #fff;
	padding: 24px 15px;
	margin-right: 13px;
}

.product__title {
	font-size: 18px;
	line-height: 1.1;
	max-width: 225px;
	font-weight: 700;
	margin-bottom: 10px;
}

.product__subtitle {
	font-weight: 300;
	font-size: 14px;
	line-height: 110%;
	color: #4F4F4F;
	margin-bottom: 35px;
}

.product__img {
	margin: 0 auto;
}

.product__img-wrapper {
	margin-bottom: 48px;
}

.product__description-line {
	display: grid;
	grid-template-columns: 110px auto auto auto;
	align-items: center;
	margin-bottom: 8px;
	&:last-child{
		margin-bottom: 16px;
	}
}

.product__key {
	font-weight: 300;
	font-size: 14px;
	line-height: 110%;
}

.product__value{
	font-weight: bold;
	font-size: 20px;
	line-height: 130%;
}

.product__multiplied{
	font-weight: 300;
	font-size: 20px;
	line-height: 130%;
	margin-left: 13px;
}
.product__price{
	margin-left: auto;
	font-weight: 700;
	font-size: 20px;
	line-height: 130%;
}

.green-text{
	color: var(--light-grn);
}

.product__footer{
	padding-top: 20.5px;
	border-top: 1px solid #F2F2F2;
	display: grid;
	grid-template-columns: repeat(3, auto);
	.btn{
		margin-right: 6px;
	}
}

.btn{
	display: inline-block;
	width: 74.56px;
	transition: .3s ease all;
	height: 40px;
	cursor: pointer;
	line-height: 40px;
	background: transparent;
	font-weight: 600;
	font-size: 14px;
	text-decoration: none;
	border: 1px solid var(--light-grn);
	text-align: center;
	border-radius: 55px;
	color: var(--text-color);
	&:hover{
		background: var(--light-grn);
	}
}

.btn--toggler--active{
	background: var(--light-grn);
}

.counter{
	display: flex;
	height: 40px;
	line-height: 40px;
	background: var(--grn);
	margin-left: 7px;
	border-radius: 55px;
	overflow: hidden;
}

.counter__decrease{
	width: 41px;
	text-align: center;
	color: white;
	font-size: 32px;
	cursor: pointer;
	border: none;
	background: var(--grn);
	ooutline: none;
}

.counter__increase{
	width: 36px;
	text-align: center;
	color: white;
	font-size: 32px;
	cursor: pointer;
	border: none;
	background: var(--grn);
}

.counter__count{
	width: 27px;
	height: 25px;
	background: #FFFFFF;
	border: none;
	font-weight: 400;
	margin: auto;
	display: flex;
	justify-content: center;
	line-height: 25px;
	text-align: center;
	font-size: 16px;
}

.counter__basket{
	width: 44.26px;
	display: flex;
	justify-content: center;
	border: none;
	cursor: pointer;
	align-items: center;
	height: 40px;
	background: var(--color-dark-green);
}

.counter__basket-img{
	width: 17px;
	height: 15px;
}